<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head(${'Simulacion'})">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <title>Simulacion</title>        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h2 class="text-center mt-4">
            <i class="fas fa-exchange-alt mr-2"></i>Simular transacción</h2>
        <div class="container mt-2">
            <div class="row justify-content-center">

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">

                            <!-- Botones -->
                            <a th:href="@{/ir_simulacion_ingreso}" class="btn btn-success mb-3 shadow-sm w-100">
                                <i class="fas fa-wallet mr-2"></i>Simular ingreso
                            </a>
                            <a th:href="@{/ir_simulacion_gasto}" class="btn btn-danger mb-3 shadow-sm w-100">
                                <i class="fas fa-hand-holding-usd mr-2"></i>Simular gasto
                            </a>
                            <a th:href="@{/regresar_menu}" class="btn btn-warning mb-3 shadow-sm w-100">
                                <i class="fas fa-arrow-left mr-2"></i>Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>


