<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head(${'Simulacion'})">
        <title>Simulacion</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <!-- Titulo -->
                    <h2 class="text-center mb-4">
                        <i class="fas fa-money-bill-wave mr-2"></i>Transferir dinero</h2>
                    <form method="post" th:action="@{/transferencia}" class="card card-body">
                        <!-- Ingrese el monto -->
                        <div class="mb-3">
                            <label for="monto" class="form-label">Ingrese el monto de la transferencia:</label>
                            <input type="number" class="form-control" id="monto" name="monto" required />
                        </div>
                        <!-- Elija el método de pago -->
                        <div class="mb-3">
                            <label for="metodo_pago" class="form-label">Elija el método de pago para el gasto:</label>
                            <select class="form-control" id="metodo_pago" name="metodo_pago" required>
                                <option value="-1" selected>Saldo principal</option>
                                <option th:each="bolsillo : ${user.getBolsillos}" 
                                        th:value="${bolsillo.id}" 
                                        th:text="${bolsillo.nombre} + ' (bolsillo)'">
                                </option>
                            </select>
                        </div>
                        <!-- Ingrese el ID -->
                        <div class="mb-3">
                            <label for="id_usuario_destino" class="form-label">Ingrese el ID del usuario al que le desea transferir:</label>
                            <input type="text" pattern="[0-9]+" class="form-control" id="id_usuario_destino" name="id_usuario_destino" required />
                        </div>
                        <!-- Botones transferir dinero + Regresar -->
                        <div class="text-center">
                            <button type="submit" name="ejecutar" class="btn btn-primary">
                                <i class="fas fa-exchange-alt"></i> Transferir dinero
                            </button>
                            <a th:href="@{/regresar_menu}" class="btn btn-warning">
                                <i class="fa fa-arrow-circle-left"></i> Regresar
                            </a>
                        </div>
                        <!-- Mensaje de advertencia -->
                        <div class="row justify-content-center">
                            <!-- Con el md-"x" se puede cambiar el ancho del mensaje de advertencia. -->
                            <div class="col-md-8">
                                <div th:if="${advertencia4 != null and !advertencia4.isEmpty()}" 
                                     class="alert alert-warning text-center mt-2" role="alert">
                                    <span class="fs-5" th:text="${advertencia4}"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>